.title{
    text-align: center;
    
}
// .home{
//     background-image: url(http://cn.bing.com/az/hprichbg/rb/NavagioBeach_ZH-CN8854639142_1920x1080.jpg);
// }
.card{
    background-color: rgba(0,0,0,0.1);
    text-align: center;
}
.now{
    text-align: right;
    margin-right: 15px;
}

.card-title{
    font-family:Consolas;
    text-align: left;
}
